body {
  font-family: Arial, sans-serif;
  text-align: center;
  margin: 0;
}

button {
  padding: 10px 15px;
  cursor: pointer;
  background-color: rgb(219, 24, 24);
  color: rgb(246, 246, 26);
  font-weight: 700;
  border: none;
  border-radius: 5px;
}
p {
  margin: 0;
}
input {
  padding: 5px;
  font-size: 14px;
}
@font-face {
  font-family: "ChinaCyrRegular";
  src: url("./fonts/Real\ Chinese.otf") format("truetype");
}
#category-select {
  padding: 8px 12px;
  border-radius: 5px;
}

/* Стилизация опций в выпадающем списке */
#category-select option {
  background-color: rgb(219, 24, 24);
  color: rgb(246, 246, 26);
}
#category-select:focus-visible {
  outline: 2px solid rgb(219, 24, 24);
}
.slider-container {
  position: fixed;
  z-index: -1;
  width: 500px;
  margin-top: 100px;
}
.slider {
  width: 100%;
  position: absolute;
  z-index: -10;
}

.image-container {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
}

.image-container img {
  position: absolute;
  top: 0;
  width: 100%;
  left: 0;
  opacity: 0;
  transition: opacity 1s ease;
}

.image-container img.active {
  opacity: 0.3;
}
.chinese-word {
  font-family: "ChinaCyrRegular", Arial, sans-serif;
  font-size: 20px;
  font-weight: 900;
  padding-right: 20px;
  padding-bottom: 15px;
}
.words-container {
  display: flex;
  width: 90%;
  justify-content: space-between;
  margin: auto;
  align-items: center;
  margin-bottom: 20px;
}
/* .chinese-word {
  font-family: "Noto Serif SC", serif;
} */
.container {
  width: 50%;
  margin: auto;
  height: 100%;
  min-height: 100vh;
}
@media (max-width: 768px) {
  p {
    padding-bottom: 15px;
  }
  .container {
    width: 90%;
    margin: auto;
    height: 100%;
    min-height: 100vh;
  }
  .slider-container {
    bottom: 289px;
  }
  .image-container img {
    width: 100vw; /* Устанавливаем ширину изображения на 100% ширины видимой области (viewport width) экрана */
    height: auto;
    max-width: none; /* Сбрасываем максимальную ширину изображения */
  }
  .words-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 90%;
    margin-bottom: 20px;
  }
  .selector-container {
    display: flex;
    flex-direction: column;
  }
}

.selector-container {
  padding-top: 40px;
  margin-bottom: 20px;
}
.generate-container {
  margin-bottom: 50px;
}
